<div class="container-fluid chat-form" ng-controller="ChatCtrl">
  <div class="row">
    <div class="col-sm-2">
        <div class="friends-list panel panel-default">
        <div class="panel-heading">
          <input type="search" class="form-control" ng-model="query" placeholder="type to search">
        </div>
        <div class="panel-body"> 
          <ul>
            <li ng-repeat="friend in friends | filter:query | orderBy:orderProp">
              <a href ng-click="talkTo(friend.id)" >{{friend.name}}</a>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          Order By: <br />
          <select ng-model="orderProp" class="form-control">
            <option value="name">Name</option>
            <option value="id">Id</option>
            <option value="age">Age</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="dialog-window" ng-switch on="dialog.show">
        <div ng-switch-when="true" >
          <div ng-include="dialog.templateUrl" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
