<!doctype html>
<html ng-app>
  <head>
    <title>Chat Apps</title>
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div ng-controller="FriendsListCtrl">
      Search: 
      <input ng-model="query">
      Order By:
      <select ng-model="orderProp">
        <option value="name">Name</option>
        <option value="id">Id</option>
      </select>

      <ul>
        <li ng-repeat="user in users | filter:query | orderBy:orderProp">
          <a href="#">{{user.name}}<a/>
        </li>
      </ul>
    </div>
  </body>
</html>